@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap");
/*
    Variables
*/
/* Colors */
/* Label & Input */
/* Buttons */
/* Title variables */
/* middleContainer variables */
/* middleContainer > selectTip > buttonGroupTip */
/* middleContainer > result */
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.left {
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 2rem;
}

.right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-item-align: center;
      align-self: center;
}

body {
  font-family: "IBM Plex Mono", monospace;
}

input, label {
  display: block;
}

label {
  color: #5e7a7d;
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.hiddenLabel {
  position: absolute;
  top: 3%;
  left: 35%;
  color: tomato;
  display: none;
  font-size: 1.2rem;
}

input {
  width: 100%;
  height: 3.5rem;
  border: none;
  background-color: #f4fafa;
  text-align: right;
  padding-right: 1.3rem;
  font-size: 2rem;
  color: #00494d;
  font-weight: 700;
  font-family: "IBM Plex Mono", monospace;
}

input:focus {
  outline-color: #26c0ab;
  font-size: 2rem;
  color: #00494d;
  font-weight: 700;
  font-family: "IBM Plex Mono", monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.imgInputWrapper {
  position: relative;
}

.imgInputWrapper .inputSvg {
  position: absolute;
  top: 25%;
  left: 5%;
}

.mainContainer .title {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c5e4e7;
}

.mainContainer .middleContainer {
  height: 93vh;
  background-color: #ffffff;
  border-radius: 2rem;
  position: relative;
  bottom: 1rem;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3rem;
}

.mainContainer .middleContainer .billInput {
  position: relative;
}

.mainContainer .middleContainer .selectTip {
  position: relative;
}

.mainContainer .middleContainer .selectTip .selectTipHeader {
  font-size: 1.6rem;
  color: #5e7a7d;
  margin-bottom: 1rem;
  font-weight: 700;
}

.mainContainer .middleContainer .selectTip #tipSelectHiddenMessage {
  color: tomato;
  font-weight: 700;
  font-size: 1.2rem;
  position: absolute;
  right: 3%;
  display: none;
}

.mainContainer .middleContainer .selectTip .buttonGroupTip {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}

.mainContainer .middleContainer .selectTip .buttonGroupTip .btnTip {
  border: none;
  background-color: #00494d;
  font-size: 2.5rem;
  color: #f4fafa;
  border-radius: 0.8rem;
  font-weight: 700;
  font-family: "IBM Plex Mono", monospace;
  padding: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.mainContainer .middleContainer .selectTip .buttonGroupTip .btnTip:hover {
  background-color: #26c0ab;
  cursor: pointer;
}

.mainContainer .middleContainer .selectTip .buttonGroupTip #customTip {
  border: none;
  background-color: #00494d;
  font-size: 2.5rem;
  color: #f4fafa;
  border-radius: 0.8rem;
  font-weight: 700;
  font-family: "IBM Plex Mono", monospace;
  padding: 1rem;
  height: 100%;
  text-align: center;
}

.mainContainer .middleContainer .selectTip .buttonGroupTip #customTip:focus {
  background-color: #c5e4e7;
  color: #c5e4e7;
  text-align: center;
}

.mainContainer .middleContainer .selectTip .buttonGroupTip #customTip::-webkit-input-placeholder {
  color: #f4fafa;
  text-align: center;
}

.mainContainer .middleContainer .selectTip .buttonGroupTip #customTip:-ms-input-placeholder {
  color: #f4fafa;
  text-align: center;
}

.mainContainer .middleContainer .selectTip .buttonGroupTip #customTip::-ms-input-placeholder {
  color: #f4fafa;
  text-align: center;
}

.mainContainer .middleContainer .selectTip .buttonGroupTip #customTip::placeholder {
  color: #f4fafa;
  text-align: center;
}

.mainContainer .middleContainer .numOfPeople {
  position: relative;
}

.mainContainer .middleContainer .numOfPeople #peopleHiddenLabel {
  top: 108%;
  left: 28%;
}

.mainContainer .middleContainer .btnCalcContainer {
  text-align: center;
}

.mainContainer .middleContainer .btnCalcContainer .btnCalc {
  width: 19rem;
  height: 6rem;
  font-size: 2rem;
  font-family: "IBM Plex Mono", monospace;
  border: none;
  background-color: #c5e4e7;
  padding: 1.5rem;
  border-radius: 1rem;
  -webkit-transition: all 0.5s ease-in-out,-webkit-transform 100ms ease-in-out;
  transition: all 0.5s ease-in-out,-webkit-transform 100ms ease-in-out;
  transition: all 0.5s ease-in-out,transform 100ms ease-in-out;
  transition: all 0.5s ease-in-out,transform 100ms ease-in-out,-webkit-transform 100ms ease-in-out;
  font-weight: 700;
  color: #5e7a7d;
  margin-bottom: 3rem;
  cursor: pointer;
}

.mainContainer .middleContainer .btnCalcContainer .btnCalc:hover {
  background-color: #26c0ab;
  color: #c5e4e7;
}

.mainContainer .middleContainer .btnCalcContainer .btnCalc:active {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}

.mainContainer .middleContainer .btnCalcContainer a:link, .mainContainer .middleContainer .btnCalcContainer a:visited, .mainContainer .middleContainer .btnCalcContainer a:hover {
  text-decoration: none;
  color: #5e7a7d;
}

.mainContainer .middleContainer .btnCalcContainer a:hover {
  color: #c5e4e7;
}

.mainContainer .middleContainer .result {
  background-color: #00494d;
  border-radius: 1rem;
  height: 25rem;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mainContainer .middleContainer .result .amountTotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainContainer .middleContainer .result .resultHeader {
  color: #f4fafa;
  font-weight: 700;
  font-size: 1.5rem;
}

.mainContainer .middleContainer .result .smallText {
  color: #5e7a7d;
  font-weight: 700;
}

.mainContainer .middleContainer .result .resultAmount {
  color: #26c0ab;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.8rem;
}

.mainContainer .middleContainer .result .resetBtn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 14rem;
  height: 6rem;
  font-size: 2.5rem;
  border: none;
  background-color: #c5e4e7;
  border-radius: 0.8rem;
  margin-top: 3rem;
  font-weight: 700;
  color: #5e7a7d;
  -webkit-transition: background-color .5s ease-in-out,color .5s ease-in-out,-webkit-transform 100ms ease-in-out;
  transition: background-color .5s ease-in-out,color .5s ease-in-out,-webkit-transform 100ms ease-in-out;
  transition: background-color .5s ease-in-out,color .5s ease-in-out,transform 100ms ease-in-out;
  transition: background-color .5s ease-in-out,color .5s ease-in-out,transform 100ms ease-in-out,-webkit-transform 100ms ease-in-out;
  cursor: pointer;
}

.mainContainer .middleContainer .result .resetBtn:hover {
  background-color: #FFEEAD;
  color: #00494d;
}

.mainContainer .middleContainer .result .resetBtn:active {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}

@media only screen and (min-width: 1280px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #c5e4e7;
  }
  .left {
    width: 50%;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    gap: 2rem;
  }
  .right {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .mainContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .mainContainer .middleContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    height: 55vh;
    padding: 5rem;
  }
}
/*# sourceMappingURL=style.css.map */